<div class="grid grid-cols-1 md:grid-cols-2 gap-6 h-full min-h-0 items-stretch">
  <div class="relative group flex justify-center items-center min-h-0 py-4 md:py-0">
    <img
      class="w-32 h-32 md:w-48 md:h-48 lg:w-64 lg:h-64 aspect-square rounded-full object-cover shadow-2xl border-4 border-zinc-800 shrink-0"
      src="{{ profile()?.urlAvatar || 'images/profile_image.webp' }}"
      alt="Avatar"
    />
    <div
      class="absolute bottom-1 right-1 bg-primary text-white p-2 rounded-full shadow-lg md:hidden"
      (click)="fileInput.click()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
        <path
          d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"
        />
      </svg>
    </div>
    <div
      class="absolute w-32 h-32 md:w-48 md:h-48 lg:w-64 lg:h-64 aspect-square rounded-full bg-black/50 hidden group-hover:flex flex-col items-center justify-center gap-2 transition-all duration-300"
    >
      <button class="btn btn-active" (click)="fileInput.click()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="10"
            stroke-width="1.5"
            d="M6 12h12m-6 6V6"
          />
        </svg>
      </button>
    </div>
    <input
      #fileInput
      type="file"
      class="hidden"
      accept=".jpg, .jpeg, .png, .webp, image/jpeg, image/png, image/webp"
      (change)="onFileSelected($event)"
    />
  </div>

  <div
    class="bg-zinc-950/40 p-6 md:p-8 rounded-[4xl] border border-zinc-800/60 flex flex-col justify-between gap-4 shadow-inner min-h-0"
  >
    <div class="flex justify-between items-center">
      <div class="min-w-0">
        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-black text-white uppercase italic tracking-tighter truncate"
        >
          {{ this.profile()?.username }}
        </h2>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-zinc-800 border-2 border-zinc-700 px-4 py-2 rounded-2xl shadow-[0_4px_0_0_rgba(0,0,0,0.5)] shrink-0 ml-4"
      >
        <!-- Bandera -->
        <span class="text-xl md:text-2xl">🇪🇸</span>
        <!-- Abreviatura -->
        <span class="text-[10px] font-black text-zinc-300">ES</span>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 my-6">
      <div class="border-l-4 border-zinc-800 pl-4">
        <span class="text-[10px] md:text-[11px] text-zinc-500 uppercase font-black tracking-widest"
          >Email</span
        >
        <span class="text-sm md:text-base lg:text-lg text-zinc-200 block truncate font-bold">
          {{ this.profile()?.isOwner ? this.profile()?.email : '******@ntb.com' }}
        </span>
      </div>
      <div class="border-l-4 border-zinc-800 pl-4">
        <span class="text-[10px] md:text-[11px] text-zinc-500 uppercase font-black tracking-widest"
          >Location</span
        >
        <!-- City -->

        <span class="text-sm md:text-base lg:text-lg text-zinc-200 block font-bold">
          {{ this.profile()?.city ? this.profile()?.city : 'City not set' }}</span
        >
      </div>
      <!-- Pdas -->
      <div class="border-l-4 border-red-900/50 pl-4">
        <span class="text-[10px] md:text-[11px] text-zinc-500 uppercase font-black tracking-widest"
          >Fav Pads</span
        >

        <span class="text-sm md:text-base lg:text-lg text-zinc-200 italic block font-bold"
          >{{ profile()?.favPads ? profile()?.favPads : 'FavPads not set' }}
        </span>
      </div>
      <!-- Circuit -->
      <div class="border-l-4 border-zinc-800 pl-4">
        <span class="text-[10px] md:text-[11px] text-zinc-500 uppercase font-black tracking-widest"
          >Fav Circuit</span
        >
        <span class="text-sm md:text-base lg:text-lg text-zinc-200 block font-bold">{{
          profile()?.favCircuit ? profile()?.favCircuit : 'FavCircuit not set'
        }}</span>
      </div>
    </div>

    <div class="flex flex-row justify-evenly">
      <div
        class="bg-red-950/30 px-5 py-2 rounded-full border border-red-900/40 text-[10px] text-red-400 font-black uppercase tracking-widest"
      >
        🏎️ {{ profile()?.numCars }}Cars
      </div>
      <div
        class="bg-zinc-800/60 px-5 py-2 rounded-full border border-zinc-700 text-[10px] text-zinc-300 font-black uppercase tracking-widest"
      >
        📝 {{ profile()?.numPosts }} Posts
      </div>
      <div
        class="bg-zinc-800/60 px-5 py-2 rounded-full border border-zinc-700 text-[10px] text-zinc-300 font-black uppercase tracking-widest"
      >
        💬 {{ profile()?.numComments }} Posts
      </div>
    </div>
  </div>
</div>
