<!-- <h2 class=" mt-10 text-emerald-700 text-3xl text-center">Comparador de discos</h2> -->

<section class="tables">
  <div class="disco-visual">
    <existing-disc (discoEnviar)="recibirDiscoExistente($event)"></existing-disc>
    <disc-ilustration [discoIlustrado]="discoExistente()"></disc-ilustration>
  </div>
  <div class="botones-container">
    <button class="btn btn-secondary self-center" (click)="igualarDatosVacios()">Igualar</button>
    <button class="btn btn-primary self-center" (click)="enviarDiscos()">Buscar</button>
  </div>
  <div class="disco-visual">
    <desired-disc
      (discoDeseadoInputeado)="recibirDiscoDeseado($event)"
      [discoModificado]="discoDeseado()"
    ></desired-disc>
    <disc-ilustration [discoIlustrado]="discoDeseado()"></disc-ilustration>
  </div>
</section>
<section>
  <list-disc [listDiscPerCar]="listDiscCar()"> </list-disc>
</section>
