<div
  class="card w-full max-w-[350px] shadow-2xl transition-all border"
  [style.background]="theme().backGroundPrimary"
  [style.border]="theme().border"
  [style.color]="theme().text"
>
  <div
    class="w-full h-48 flex flex-row relative overflow-hidden rounded-t-xl border-b border-white/5"
    [style.background]="theme().backGroundSecondary"
  >
    <konva-disc-component
      class="h-full w-[70%]"
      [(isWarning)]="isWarning"
      [disc]="disc()"
      [bgColor]="theme().backGroundSecondary"
    ></konva-disc-component>

    <konva-profile-disc-component
      class="h-full w-[30%] border-l border-white/5"
      [disc]="disc()"
      [bgColor]="theme().backGroundSecondary"
    ></konva-profile-disc-component>
  </div>

  <div class="card-body p-5">
    <h2
      class="text-lg font-black uppercase tracking-tighter italic mb-4 border-l-4 border-error pl-2"
    >
      {{ title() }}
    </h2>

    <div class="space-y-1">
      @for (item of disc() | keyvalue; track item.key) {
        @if (item.key !== 'id') {
          <div class="flex justify-between items-center py-1 border-b border-white/5 last:border-0">
            <span class="text-[12px] font-bold text-zinc-300 uppercase tracking-widest">
              {{ item.key }}
            </span>
            <span class="text-sm font-mono font-semibold">
              {{ item.value || '---' }}
            </span>
          </div>
        }
      }
    </div>
  </div>
</div>
