<div class="card bg-amber-900 w-96 shadow-sm">
  <div class="h-full w-full">
    <!-- <konva-disc-component [disc]="disc()"></konva-disc-component> -->
  </div>
  <div class="card-body">
    <h2 class="card-title">{{ title() }}</h2>
    <table>
      @for (item of disc() | keyvalue; track $index) {
        <tr class="text-justify">
          <td>
            <strong>{{ item.key | titlecase }}</strong>
          </td>
          <td>
            {{ item.value ? item.value : 'Not available' }}
          </td>
        </tr>
      }
    </table>
  </div>
</div>
