<section [attr.data-theme]="themeName()" class="disc-section">
  <div class="disc-header">
    <h3>{{ title() }}</h3>

    <button (click)="clearFields()">Reset</button>
  </div>
  <div class="disc-selector">
    <button
      (click)="toggleMode(SEARCH_MODES.CAR)"
      [class.active]="searchMode() === SEARCH_MODES.CAR"
    >
      {{ SEARCH_MODES.CAR }}
    </button>
    <button
      (click)="toggleMode(SEARCH_MODES.DISC)"
      [class.active]="searchMode() === SEARCH_MODES.DISC"
    >
      {{ SEARCH_MODES.DISC }}
    </button>
  </div>
  @switch (searchMode()) {
    @case (SEARCH_MODES.CAR) {
      <cascade-component [(disc)]="disc" [theme]="themeName()"></cascade-component>
    }
    @case (SEARCH_MODES.DISC) {
      <measurement-component [(disc)]="disc"></measurement-component>
    }
  }
</section>
