<div class="grid grid-cols-1 md:grid-cols-3 gap-3">
  <div class="form-control w-full">
    <label class="label py-1">
      <span class="label-text font-bold">Brand</span>
    </label>

    <item-datalist-carselector-component
      [items]="brands()"
      [item]="car().brand"
      (itemChange)="onBrandSelected($event)"
    ></item-datalist-carselector-component>
  </div>

  <div class="form-control w-full">
    <label class="label py-1">
      <span class="label-text font-bold">Model</span>
    </label>
    <item-datalist-carselector-component
      [items]="models()"
      [item]="car().model"
      (itemChange)="onModelSelected($event)"
    ></item-datalist-carselector-component>
  </div>

  <div class="form-control w-full">
    <label class="label py-1">
      <span class="label-text font-bold">Version</span>
    </label>

    <app-item-version-datalist-carselector-component
      [items]="versions()"
      [item]="car().version"
      (itemChange)="onVersionSelected($event)"
    ></app-item-version-datalist-carselector-component>
    <datalist [id]="dataId">
      @for (version of versions(); track version.id) {
        <option [value]="version | formatVersion"></option>
      }
    </datalist>
  </div>
</div>
