@if (hasData()) {
  <div class="overflow-auto shadow-lg rounded-lg">
    <table class="table table-pin-rows table-zebra w-full">
      <thead>
        <tr class="text-center bg-base-200">
          <th>Diameter</th>
          <th>Height</th>
          <th>PCD</th>
          <th>Centerbore</th>
          <th>Thinkenss</th>
          <th>Style</th>
          <th>Position</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        @for (item of listDiscPerCar(); track item.disc.id) {
          <tr
            class="text-center hover:bg-base-300 cursor-pointer transition-colors"
            [routerLink]="['/disc-comparison', item.disc.id]"
          >
            <td>{{ item.disc.diameter | mm }}</td>
            <td>{{ item.disc.height | mm }}</td>
            <td>{{ item.disc | formatPCD }}</td>
            <td>{{ item.disc.centerBore | mm }}</td>
            <td>{{ item.disc.thickness | mm }}</td>
            <td>
              <span class="badge badge-ghost">{{ item.disc.style | titlecase }}</span>
            </td>
            <td>{{ item.disc.position | titlecase }}</td>

            <td class="font-bold">{{ item.car.brand.name | titlecase }}</td>
            <td>{{ item.car.model.name | titlecase }}</td>
            <td class="text-xs italic">
              {{ item.car.version | formatVersion }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
