<section class="flex flex-col gap-20 justify-evenly flex-1 overflow-hidden">
  <data-ilustration-component
    [title]="'Actual Disc'"
    [themeName]="'current'"
    [(disc)]="existingDisc"
  ></data-ilustration-component>

  <data-ilustration-component
    [title]="'Desired Disc'"
    [themeName]="'desired'"
    [(disc)]="desiredDisc"
  ></data-ilustration-component>

  <div class="flex flex-row flex-wrap justify-evenly items-center">
    <button class="btn btn-secondary self-center" (click)="syncEmptyFields()">Igualar</button>
    <button class="btn btn-primary self-center" (click)="searchDiscs()">Buscar</button>
  </div>

  <section class="overflow-y-scroll flex flex-col justify-center items-center flex-2">
    @if (isLoading()) {
      <span class="loading loading-spinner loading-lg"></span>
    }
    @if (isError()) {
      <div class="alert alert-info mt-4">
        <span>No se encontraron resultados para esta búsqueda.</span>
      </div>
    }
    <list-disc [listDiscPerCar]="listDiscCar()"></list-disc>
  </section>
</section>
