<div class="navbar bg-base-300 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-4 shadow"
      >
        <li><a [routerLink]="['/']">Disc Comparer</a></li>
        <li><a [routerLink]="['/forum']">Forum</a></li>
      </ul>
    </div>
    <a class="pl-4 hover:cursor-pointer" [routerLink]="['/']">
      <img class="w-40 h-16" [src]="imageLogoPath" alt="logo" />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a [routerLink]="['/']">Disc Comparer</a></li>
      <li><a [routerLink]="['/forum']">Forum</a></li>
    </ul>
  </div>
  @if (!this.authService.isAuthenticated()) {
    <div class="navbar-end flex flex-row gap-5">
      <btn class="btn" [routerLink]="['/register']">Register</btn>
      <a class="btn" [routerLink]="['/sign-in']">Sing In</a>
    </div>
  }
  @if (this.authService.isAuthenticated()) {
    <div class="navbar-end flex flex-row gap-5">
      <p>Welcome {{ this.authService.currentUser()?.username }}</p>

      @if (isProfile()) {
        <button class="btn" (click)="logOut()">Log-out</button>
      } @else {
        <button class="btn" (click)="goToMyProfile()">Profile</button>
      }
    </div>
  }
</div>
