<div class="grid grid-cols-2 grid-rows-2 border-2 rounded-2xl border-blue-500 p-4 rounded-tl-none">

  <div>
    <label for="Diametro">Diametro</label>
    <input
    id="Diametro"
    type="text"
    placeholder="Medida A"
    (input)="diametro.set(+discDiametro.value)"
    #discDiametro
    />
  </div>

  <div>
    <label for="Espesor">Espesor</label>
    <input
    id="Espesor"
    type="text"
    placeholder="Medida B"
    (input)="espesor.set(+discEspesor.value)"
    #discEspesor
    />
  </div>

  <div>
    <label for="Ancho">Ancho Total</label>
    <input
    id="Ancho"
    type="text"
    placeholder="Medida D"
    (input)="ancho.set(+discAncho.value)"
    #discAncho
    />
  </div>

  <div>
    <label for="Patron">Patron Tornillos</label>
    <input
    id="Patron"
    type="text"
    placeholder="Medida E"
    (input)="patron.set(+discPatron.value)"
    #discPatron
    />
  </div>

  <div>
    <label for="Agujeros">Numero Agujeros</label>
    <input
    id="Agujeros"
    type="text"
    placeholder="Medida F"
    (input)="agujeros.set(+discAgujeros.value)"
    #discAgujeros
    />
  </div>

  <div>
    <label for="Buje">Diametro Buje</label>
    <input
    id="Buje"
    type="text"
    placeholder="Medida G"
    (input)="buje.set(+discBuje.value)"
    #discBuje
    />
  </div>

  <div>
    <label for="Interior">Diametro Interior</label>
    <input
    id="Interior"
    type="text"
    placeholder="Medida H"
    (input)="interior.set(+discDiametroInterior.value)"
    #discDiametroInterior
    />
  </div>

  <div>
    <label for="DiametroTornillo">Diametro Tornillo</label>
    <input
    id="DiametroTornillo"
    type="text"
    placeholder="Medida I"
    (input)="diametroTornillo.set(+discDiametroTornillos.value)"
    #discDiametroTornillos
    />
  </div>
    <button class="btn " (click)="crearDisco()">Crear Disco</button>
</div>
