.tables {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%; */

  display: grid;
  grid-template-columns: 2fr 200px;
  grid-template-rows: 1fr 100px 1fr;
  width: 100%;



}

.disco-visual:first-of-type {
  grid-row: 1;

}

.btn {
  padding: 1rem;

  &:hover {
    opacity: 0.8;
  }
}

.disco-visual {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  grid-row: 3;

}

.botones-container {
  display: flex;
  flex-flow: column wrap;
  gap: 1.25rem;
  grid-row: 2;
  grid-column: 2;
}


@media (width<=1244px) {

  .tables {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

  }

  .botones-container {
    display: flex;
    flex-flow: row wrap;
    order: 3;
  }

}

@media (width<=864px) {
  .disco-visual {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;



  }
}
