
<!-- <h2 class=" mt-10 text-emerald-700 text-3xl text-center">Comparador de discos</h2> -->


  <section class="tables">

  <disco-existente-component (discoEnviar)="recibirDiscoExistente($event)"></disco-existente-component>

  <button class="btn bg-pink-600 self-center "(click)="igualarDatosVacios()">Igualar</button>

  <disco-deseado-component
  (discoDeseadoInputeado)="recibirDiscoDeseado($event)"
  [discoModificado]=" discoDeseado()"
  ></disco-deseado-component>
<!-- (discoEnviar)="recibirDiscoDeseado($event)" -->
  <!-- [discoRecibido]="discoDeseadoInput" -->
  </section>
<button class='btn btn-primary ' (click)="enviarDiscos()">Buscar</button>
