<div class="relative">
  @if (isAddingNewCar()) {
    <div
      class="flex flex-col gap-2 absolute px-5 bottom-full left-0 w-full md:right-10 z-50 max-w-lg color-surface p-4 rounded-xl shadow-xl border color-border"
    >
      <car-selector-component (carEmitter)="onVersionIdReceived($event)"></car-selector-component>
      <button class="btn btn-error" (click)="isAddingNewCar.set(false)">Close</button>
    </div>
  }
  <div
    class="flex flex-col border color-border rounded-4xl overflow-hidden color-surface min-h-0 shadow-lg"
  >
    <div class="grid items-center border-b color-border color-surface">
      <div
        class="col-start-1 row-start-1 py-3 text-center font-black text-xs secondary-text uppercase tracking-[0.3em]"
      >
        Garage
      </div>

      @if (isOwner()) {
        <div class="col-start-1 row-start-1 h-full flex justify-end">
          <button
            class="h-full flex items-center px-6 gap-2 color-surface hover:bg-zinc-800 hover:cursor-pointer transition-all group"
            (click)="addToGarage()"
          >
            <span class="terciary-text group-hover:text-lime-400 font-bold">+</span>
            <span class="terciary-text uppercase group-hover:hover-white"> Add </span>
          </button>
        </div>
      }
    </div>
    <div
      class="flex-1 overflow-y-auto md:max-h-[30vh] min-h-0 scrollbar-thin scrollbar-thumb-zinc-800"
    >
      <table class="w-full border-collapse">
        <tbody class="divide-y divide-zinc-900/50">
          <tr>
            @if (garageResource.isLoading()) {
              <td colspan="100%" class="text-center py-4">
                <span class="loading loading-spinner loading-sm"></span>
              </td>
            }
            @if (garageResource.error()) {
              <td colspan="100%" class="text-center py-4">
                <span>{{ garageResource.error()?.message }}</span>
              </td>
            }
          </tr>
          @for (item of garage(); track item.car.version.id) {
            <tr class="hover:bg-zinc-800 transition-colors group">
              <td class="p-4 text-base font-bold title-text pl-6 uppercase tracking-tight">
                {{ item.car | formatCar }}
              </td>
              @if (item.isFavourite) {
                <td class="p-4 text-right pr-6 text-xl cursor-pointer" (click)="removeFavourite()">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="var(--fav-color)"
                      fill-opacity="0"
                      stroke="var(--fav-color)"
                      stroke-dasharray="66"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 3l2.35 5.76l6.21 0.46l-4.76 4.02l1.49 6.04l-5.29 -3.28l-5.29 3.28l1.49 -6.04l-4.76 -4.02l6.21 -0.46Z"
                    >
                      <animate
                        fill="freeze"
                        attributeName="stroke-dashoffset"
                        dur="0.6s"
                        values="66;0"
                      />
                      <animate
                        fill="freeze"
                        attributeName="fill-opacity"
                        begin="0.6s"
                        dur="0.4s"
                        to="1"
                      />
                    </path>
                  </svg>
                </td>
              } @else {
                <td
                  class="p-4 text-right pr-6 text-xl cursor-pointer"
                  (click)="addFavourite(item.car.version.id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="none"
                      stroke="var(--fav-color)"
                      stroke-dasharray="66"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 3l2.35 5.76l6.21 0.46l-4.76 4.02l1.49 6.04l-5.29 -3.28l-5.29 3.28l1.49 -6.04l-4.76 -4.02l6.21 -0.46Z"
                    >
                      <animate
                        fill="freeze"
                        attributeName="stroke-dashoffset"
                        dur="0.6s"
                        values="66;0"
                      />
                    </path>
                  </svg>
                </td>
              }
              <td
                class="p-4 text-right pr-6 text-xl cursor-pointer"
                (click)="deleteCar(item.car.version.id)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <defs>
                    <mask id="SVGzptI4dvL">
                      <g stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path
                          fill="#fff"
                          fill-opacity="0"
                          stroke="#fff"
                          stroke-dasharray="60"
                          d="M3 12c0 -4.97 4.03 -9 9 -9c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9Z"
                        >
                          <animate
                            fill="freeze"
                            attributeName="stroke-dashoffset"
                            dur="0.6s"
                            values="60;0"
                          />
                          <animate
                            fill="freeze"
                            attributeName="fill-opacity"
                            begin="0.6s"
                            dur="0.4s"
                            to="1"
                          />
                        </path>
                        <path
                          fill="none"
                          stroke="#000"
                          stroke-dasharray="8"
                          stroke-dashoffset="8"
                          d="M12 12l4 4M12 12l-4 -4M12 12l-4 4M12 12l4 -4"
                        >
                          <animate
                            fill="freeze"
                            attributeName="stroke-dashoffset"
                            begin="1.1s"
                            dur="0.2s"
                            to="0"
                          />
                        </path>
                      </g>
                    </mask>
                  </defs>
                  <path fill="#f71616" d="M0 0h24v24H0z" mask="url(#SVGzptI4dvL)" />
                </svg>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
