<section>
  <h3>Disco Objetivo</h3>
  <div class=" contenedor">

    <div class="item">
      <label for="Diametro">Diametro</label>
      <input id="Diametro" type="number" placeholder="Medida A"
        [value]="disco().diametro || ''"
        (input)="actualizarDisco('diametro',$event.target.value)" />
    </div>
    <div class="item">
      <label for="Espesor">Espesor</label>
      <input id="Espesor" type="number" placeholder="Medida B"
        [value]="disco().espesor || ''"
        (input)="actualizarDisco('espesor',$event.target.value)" />
    </div>

    <div class="item">
      <label for="Ancho">Ancho Total</label>
      <input id="Ancho" type="number" placeholder="Medida D"
        [value]="disco().ancho || ''"
        (input)="actualizarDisco('ancho',$event.target.value)" />
    </div>

    <div class="item">
      <label for="Patron">Patron Tornillos</label>
      <input id="Patron" type="number" placeholder="Medida E"
        [value]="disco().patron || ''"
        (input)="actualizarDisco('patron',$event.target.value)"  />
    </div>

    <div class="item">
      <label for="Agujeros">Nª Agujeros</label>
      <input id="Agujeros" type="number" placeholder="Medida F"
        [value]="disco().numeroagujeros || ''"
        (input)="actualizarDisco('numeroagujeros',$event.target.value)" />
    </div>

    <div class="item">
      <label for="Buje">Ø Buje</label>
      <input id="Buje" type="number" placeholder="Medida G"
        [value]="disco().diametroBuje || ''"
        (input)="actualizarDisco('diametroBuje',$event.target.value)" />
    </div>

    <div class="item">
      <label for="Interior">Ø Interior</label>
      <input id="Interior" type="number" placeholder="Medida H"
        [value]="disco().diametroInterior || ''"
        (input)="actualizarDisco('diametroInterior',$event.target.value)" />
    </div>

    <div class="item">
      <label for="DiametroTornillo">Ø Tornillo</label>
      <input id="DiametroTornillo" type="number" placeholder="Medida I"
        [value]="disco().diametroTornillo || ''"
        (input)="actualizarDisco('diametroTornillo',$event.target.value)"/>
    </div>

  </div>

</section>
