/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes: aqua --default, dark --prefersdark ;
/* business */
}
*{
margin: 0;
/* padding: 0; */
box-sizing: border-box;
}
