<div
  class="flex flex-col border border-zinc-800 rounded-4xl overflow-hidden bg-zinc-950/40 min-h-0 shadow-lg"
>
  <div
    class="py-3 text-center border-b border-zinc-800 bg-zinc-900/80 font-black text-xs text-zinc-400 uppercase tracking-[0.3em] flex-none"
  >
    My Posts
  </div>
  <div
    class="flex-1 overflow-y-auto md:max-h-[30vh] min-h-0 scrollbar-thin scrollbar-thumb-zinc-800"
  >
    <table class="w-full border-collapse">
      <tbody class="divide-y divide-zinc-900/50">
        @for (post of userPosts().items; track post.id) {
          <tr class="group hover:bg-zinc-800/40 transition-colors">
            <td class="p-4 pl-6">
              <p
                class="text-base font-bold text-zinc-200 group-hover:text-red-500 transition-colors italic uppercase tracking-tight"
              >
                {{ post.title }}
              </p>
              <p class="text-[11px] text-zinc-500 font-bold uppercase mt-1">
                {{ post.date | date: 'dd MMM yyyy' }}
              </p>
            </td>
            <td class="p-4 text-right pr-6 text-base text-zinc-500 font-mono">💬 3</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
