section {
  background-color: green;
  overflow: hidden;
  border-radius: 1rem;
  border: 2px solid rgb(43, 43, 65);
}

section>h3:first-child {

  font-size: larger;
  padding: 0.5rem;
  background-color: #0e5528;
  text-align: center;

}

.contenedor {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 2px solid rgb(43, 43, 65);

  padding: 1rem;
  gap:1rem;
  justify-content: left;
  justify-items: left;
  align-items: start;
  align-content: start;


}

.item {

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  justify-content: space-evenly;

}


input[type="number"] {
  font-size: medium;
  max-width: 100px;
  background-color: rgb(180, 171, 171);
  padding:0.15rem 0.30rem 0.15rem 0.30rem;
  border-radius: 0.5rem;
  color: black
}

.item label {
  font-size: larger;

}

